/* Set global varibles. */
:root {
    --tiffanygreen: rgba(163, 201, 203, 190);
    --grey: rgba(53, 55, 63, 55);
    --white:rgba(237, 237, 246, 238);
    --oceanblue: rgba(115, 124, 146, 124);
    --darkgrey: rgba(60, 65, 72, 64);
}

/* Setting the page as border box and set padding & margin to 0, as well as setting font family to font families in modern OS. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Making headers less bold. */
h1, h2, h3, h4 {
    font-weight: normal;
}

/* Set background color to white. */
body {
    background-color: var(--white);
}

/* Set Header, H1 and Nav for the page. Spread them out horizontally. */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey);
    width: 100%;
    padding: 15px 0 15px 0;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: inline-block;
    background-color: var(--tiffanygreen);
    font-size: 40px;
    color: var(--grey);
    padding: 10px 10px 10px 80px;
}

nav {
    padding: 0 5.5% 0 5.5%;
    display: flex;
    flex-direction: row;
}

nav div a {
    display: inline-block;
    text-decoration: none;
    font-size: larger;
    color: var(--tiffanygreen);
    padding: 5px;
    margin: 5px;
    border-bottom: 3px solid var(--tiffanygreen);
}

nav div a:hover {
    opacity: 0.8;
}

/* Set Hero image followed by a subtitle sitting on top of paddings in the bottom right corner. */
.hero {
    display: flex;
    padding-bottom: 25px;
    padding-right: 80px;
    justify-content: flex-end;
    align-items: flex-end;
    height: 320px;
    width: 100%;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    background-color: var(--tiffanygreen);
    font-size: 30px;
    color: var(--grey);
    padding: 10px;
}

/* Main body of the page.
main {
    margin-top: 35px;
} */

/* Sections of main body: About Me, Work (Portfolio) and Contact Me. */
section {
    display: flex;
    justify-content: flex-start;
    color: var(--oceanblue);
    margin: 22.5px 0 22.5px 0;
}

/* Header for the sections. */
h3 {
    display: flex;
    float: left;
    font-size: 40px;
    align-items: flex-end;
    flex-direction: column;
    width: 23.3%;
    padding-right: 18px;
    border-right: 4px solid var(--oceanblue);
}

/* Section bodies. */
article, section ul {
    float: right;
    padding-left: 40px;
    width: 70.2%;
}

/* About Me section styles. */
.aboutme {
    margin-top: 35px;
    font-size: larger;
    line-height: 1.5;
    margin-bottom: 20px;
}
.aboutme img {
    height: 120px;
    float: left;
    margin: 0 15px 15px 0;
    border-radius: 10rem;
}

/* Work section. */
.work{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Work portfolio cards. */
/* Set background image width to 100% and height to auto, opacity to 0.8.  */
.workcards {
    display: flex;
    flex: 1 0 47.5%;
    height: 200px;
    margin: 7.5px;
    text-decoration: none;
    align-items: flex-end;
    color: var(--darkgrey);
    border: 5px solid var(--tiffanygreen);
    padding-bottom: 20px;
    background-color: var(--tiffanygreen);
    background-size: 100% auto;
    opacity: 0.8;
}

.workcard-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.workcards-large {
    flex: 2 1 100%;
    height: 400px;
}

.workcards-links {
    display: flex;
    justify-content: center;
}

.workcards-links a {
    text-decoration: none;
    color: var(--darkgrey);
    font-size: larger;
    font-weight: bold;
}

.workcards-links a:hover {
    color: #fff;
}

/* Hovering effect, increase opacity to 1. */
.workcards:hover {
    opacity: 1;
}

/* Background for work portfolio card titles. */
.workcards div {
    padding: 10px 10px 10px 10px;
    background-color: var(--tiffanygreen);
}

/* Description for the project. */
.workcards p {
    margin-top: 10px;
    font-size: 12px;
}

/* Header for work portfolio card titles. */
h4 {
    font-size: 19px;
}

/* Style for contact info. */
#contact-me div {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

#contact-me div p {
    margin: 0.25rem 0 0.25rem 0;
}

#contact-me div a {
    margin: 0.25rem 0 0.25rem 0;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    color: var(--oceanblue);
    padding: 5px;
    border-bottom: 3px solid var(--oceanblue);
}

#contact-me form div {
    margin: 1rem 0 1rem 0;
}

#contact-me form input {
    margin-top: 0.75rem;
    width: 20rem;
    height: 2.5rem;
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--darkgrey);
}

#contact-me form textarea {
    margin-top: 0.75rem;
    width: 175%;
    height: auto;
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--darkgrey);
}

#contact-me form button {
    width: fit-content;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-width: 1px;
    background-color: var(--tiffanygreen);
    color: var(--darkgrey);
    font-weight: bolder;
    font-size: large;
}

#contact-me form button:hover {
    opacity: 0.8;
}

#resume div {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

#resume div a, p, ul {
    margin: 10px;
    text-decoration: none;
}

#resume div a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--oceanblue);
    border-bottom: 3px solid var(--oceanblue);
}

/* Use footer to mimic padding at the end of the page. */
footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div {
    width: 66%;
    display: flex;
    justify-content: space-around;
}

footer div a {
    text-decoration: none;
    font-size: larger;
    color: var(--oceanblue);
    padding: 5px;
    border-bottom: 3px solid var(--oceanblue);
}

footer div a:hover {
    opacity: 0.8;
}

/* Viewport for mobile view. */
@media screen and (max-width: 992px) {

    /* H1 and Navigation bar stack on top of each other. */
    header {
        padding: 0;
        justify-content: center;
        align-items: flex-start;
    }
    
    h1 {
        padding: 0;
        text-align: center;
        width: 100%;
        padding: 5px 0 5px 0;
    }
    
    nav {
        padding: 5px 0 5px 0;
    }

    /* Moving the Hero image subtitle to center. */
    .hero {
        padding-right: 0;
        padding-bottom: 8px;
        justify-content: center;
    }

    /* Set Main body padding at top and bottom. */
    main {
        margin: 0 35px 0 35px;
    }

    /* Section titles and content to vertical. */
    section {
        margin: 40px 0 40px 0;
        flex-direction: column;
    }

    /* Headers with two works from double line to single line. */
    h3 {
        float: none;
        font-size: 40px;
        text-align: left;
        flex-direction: row;
        width: 100%;
        padding-right: none;
        padding-bottom: 15px;
        border-right: none;
        border-bottom: 4px solid var(--oceanblue);
    }
    
    /* "Faking" space between header. */
    h3 span {
        margin-right: 9px;
    }

    /* Section bodies to stack on top of each other in the center. Re-adjust paddings at the top and bottom. */
    article, .work, section ul {
        float: none;
        padding-left: 0;
        padding-top: 25px;
        width: 100%;
    }
    
    /* Added padding to surround the work portfolio cards. */
    .work {
        padding: 15px 10px 15px 10px;
    }

    /* Change all work portfolio card height to 175px. */
    .workcards {
        flex: 1 0 100%;
        height: 175px;
    }

    /* Change Surf Report card height to be consistent with others at 175px. */
    .workcards-large {
        flex: 1 0 100%;
        height: 175px;
    }

    #contact-me div {
        margin-top: 10px;
    }

    #contact-me div a {
        width: fit-content;
    }

    #contact-me form textarea {
        width: 90%;
    }

    #resume div a {
        margin-top: 30px;
        width: fit-content;
    }

    #resume div p {
        margin-bottom: 0;
    }

    #resume div ul {
        margin-top: -1rem;
        margin-left: 50px;
    }

    /* Turn contact listing from horizontal to vertical. */
    footer div {
        flex-direction: column;
        align-items: center;
    }
    
    /* Set margin at the bottom of each listing to space out. */
    footer div a {
        margin-bottom: 5px;
    }

}

/* Background Images for WorkCards */
.ecommerce {
    background-image: url("./images/screenshots/ecommerce.png");
}

.fac_mgmt {
    background-image: url("./images/screenshots/fac_mgmt.png");
}

.life_happens {
    background-image: url("./images/screenshots/life_happens.png");
}

.note_taker {
    background-image: url("./images/screenshots/note_taker.jpeg");
}

.scheduler {
    background-image: url("./images/screenshots/scheduler.jpeg");
}

.tech_blog {
    background-image: url("./images/screenshots/tech_blog.jpeg");
}

.weather {
    background-image: url("./images/screenshots/weather.jpg");
}