.ecommerce {
    background-image: url("./images/screenshots/ecommerce.png");
}

.fac_mgmt {
    background-image: url("./images/screenshots/fac_mgmt.png");
}

.life_happens {
    background-image: url("./images/screenshots/life_happens.png");
}

.note_taker {
    background-image: url("./images/screenshots/note_taker.jpeg");
}

.scheduler {
    background-image: url("./images/screenshots/scheduler.jpeg");
}

.tech_blog {
    background-image: url("./images/screenshots/tech_blog.jpeg");
}

.weather {
    background-image: url("./images/screenshots/weather.jpg");
}